<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This file is part of RateBeer For Android.
    
    RateBeer for Android is free software: you can redistribute it 
    and/or modify it under the terms of the GNU General Public 
    License as published by the Free Software Foundation, either 
    version 3 of the License, or (at your option) any later version.

    RateBeer for Android is distributed in the hope that it will be 
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with RateBeer for Android.  If not, see 
    <http://www.gnu.org/licenses/>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ratebeer.android"
	android:versionCode="13"
	android:versionName="1.0.1"
	android:installLocation="auto">
	
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<supports-screens 
		android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:xlargeScreens="true" 
		android:anyDensity="true" />

	<application 
		android:name="com.ratebeer.android.app.RateBeerForAndroid" 
		android:icon="@drawable/icon" 
		android:logo="@drawable/logo"
		android:label="@string/app_name"
		android:hardwareAccelerated="true"
		android:theme="@style/Theme.RateBeer">
		
		<!-- Activities -->
		<activity android:name="com.ratebeer.android.gui.Home">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="ratebeer.com" android:pathPrefix="/b/" />
				<data android:scheme="http" android:host="www.ratebeer.com" android:pathPrefix="/b/" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
 		
		<activity android:name="com.ratebeer.android.gui.HomePhone">
			<meta-data android:name="android.app.default_searchable" android:value="com.ratebeer.android.gui.Home" />
		</activity>
		<activity android:name="com.ratebeer.android.gui.HomeTablet">
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
			<meta-data android:name="android.app.default_searchable" android:value="com.ratebeer.android.gui.Home" />
		</activity>
		<activity android:name="com.ratebeer.android.gui.SignIn" android:theme="@style/Theme.RateBeer.SignIn"></activity>
		<activity android:name="com.ratebeer.android.gui.PreferencesInterface"></activity>

		<!-- Default search provider -->
		<provider android:name="com.ratebeer.android.gui.SearchHistoryProvider" android:authorities="com.ratebeer.android.gui.SearchHistoryProvider" />
		<meta-data android:name="android.app.default_searchable" android:value="com.ratebeer.android.gui.Search" />
		
		<!-- Posting data to RateBeer -->
		<service android:name="com.ratebeer.android.gui.components.PosterService">
			<intent-filter>
				<action android:name="com.ratebeer.android.SET_DRINKING_STATUS" />
				<action android:name="com.ratebeer.android.POST_RATING" />
				<action android:name="com.ratebeer.android.ADD_AVAILABILITY" />
				<action android:name="com.ratebeer.android.ADD_TO_CELLAR" />
				<action android:name="com.ratebeer.android.SEND_BEERMAIL" />
			</intent-filter>
		</service>

		<!-- Retrieval of beermail and unread mail notifications -->
		<service android:name="com.ratebeer.android.gui.components.BeermailService" />
		<receiver android:name="com.ratebeer.android.gui.components.AlarmReceiver" />
		<receiver android:name="com.ratebeer.android.gui.components.BootReceiver" >
			<intent-filter >
				<action android:name="android.intent.action.BOOT_COMPLETED" android:value="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<!-- Google Maps -->
		<uses-library android:name="com.google.android.maps" android:required="true" />
		
	</application>
	
</manifest> 