<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This file is part of RateBeer For Android.
    
    RateBeer for Android is free software: you can redistribute it 
    and/or modify it under the terms of the GNU General Public 
    License as published by the Free Software Foundation, either 
    version 3 of the License, or (at your option) any later version.

    RateBeer for Android is distributed in the hope that it will be 
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with RateBeer for Android.  If not, see 
    <http://www.gnu.org/licenses/>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ratebeer.android"
	android:versionCode="42"
	android:versionName="1.4.4-dev"
	android:installLocation="auto">
	
	<!-- Supported and required Android features -->
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<supports-screens 
		android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:xlargeScreens="true" 
		android:anyDensity="true" />

	<!-- Additional features for Google Maps -->
	<permission 
		android:name="com.example.mapdemo.permission.MAPS_RECEIVE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	
	<application 
		android:name="com.ratebeer.android.app.RateBeerForAndroid" 
		android:icon="@drawable/icon" 
		android:logo="@drawable/logo"
		android:label="@string/app_name"
		android:hardwareAccelerated="true"
		android:allowBackup="true"
		android:theme="@style/Theme.RateBeer">
		
		<!-- Activities -->
		<activity android:name="com.ratebeer.android.gui.Home_">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="ratebeer.com" android:pathPrefix="/b/" />
				<data android:scheme="http" android:host="www.ratebeer.com" android:pathPrefix="/b/" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
 		
		<activity android:name="com.ratebeer.android.gui.SignIn_" android:theme="@style/Theme.RateBeer.SignIn" android:label="" />
		<activity android:name="com.ratebeer.android.gui.PreferencesInterface_" />

		<!-- Default search provider -->
		<provider android:name="com.ratebeer.android.gui.SearchHistoryProvider" 
			android:authorities="com.ratebeer.android.gui.SearchHistoryProvider" android:exported="false" />
		<meta-data android:name="android.app.default_searchable" android:value="com.ratebeer.android.gui.Home_" />
		
		<!-- Posting data to RateBeer -->
		<service android:name="com.ratebeer.android.gui.components.PosterService_" android:exported="false">
			<intent-filter>
				<action android:name="com.ratebeer.android.SET_DRINKING_STATUS" />
				<action android:name="com.ratebeer.android.POST_RATING" />
				<action android:name="com.ratebeer.android.POST_TICK" />
				<action android:name="com.ratebeer.android.ADD_AVAILABILITY" />
				<action android:name="com.ratebeer.android.ADD_TO_CELLAR" />
				<action android:name="com.ratebeer.android.SEND_BEERMAIL" />
				<action android:name="com.ratebeer.android.UPLOAD_BEER_PHOTO" />
				<action android:name="com.ratebeer.android.ADD_UPCCODE" />
			</intent-filter>
		</service>

		<!-- Retrieval of beermail and unread mail notifications -->
		<service android:name="com.ratebeer.android.gui.components.BeermailService_" />
		<receiver android:name="com.ratebeer.android.gui.components.AlarmReceiver_" />
		<receiver android:name="com.ratebeer.android.gui.components.BootReceiver_" >
			<intent-filter >
				<action android:name="android.intent.action.BOOT_COMPLETED" android:value="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<!-- Google Maps and location -->
		<receiver android:name="com.ratebeer.android.app.location.PassiveLocationUpdateReceiver_" />
		<meta-data 
			android:name="com.google.android.maps.v2.API_KEY" 
			android:value="AIzaSyCB1GwDznbJT9QJMhthO5L_ZJ71KBcaJUc" />
		
	</application>
	
</manifest> 
